*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}

.container {
    display: flex;
    max-width: 550px;
    margin: 0 auto;

}

nav.header--container {
    background-color: #F55A5A;
    height: 55px;
    width: 100%;
    margin-bottom: 2em;
}

.section--container {
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2.5em;
}

img {
    max-width: 100%;
}

/* header area */
.header--flex {
    justify-content: center;
    align-items: center;
}

.main--heading {
    margin-left: .4em
}


/* info section => location area,text area */

/* location area */
div.location--container {
    display: flex;
    align-items: center;
}

.main-location {
    font-size: 0.65rem;
    line-height: .75rem;
    letter-spacing: 0.17em;
    margin: 0 0 0 1em;

}

.link-text {
    font-size: 0.64rem;
    text-decoration-line: underline;
    letter-spacing: normal;
    margin-left: 1em;
    color: #918E9B;
}

/* text area */

.img-container {
    width: 25%;
}

.text-area {
    width: 62%;
}

img.main-img {
    height: 168px;
    max-width: 100%;
    border-radius: 5px;
}

.main-title {
    font-size: 1.56rem;
    margin: 0.3em 0;
}

.main-description {
    font-size: .69rem;
}

.main-date {
    font-size: .7rem;
    color: black;
    font-weight: 700;
}